<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <!--[if lte IE 8]>
    <script th:src="@{/css/ie/html5shiv.js}"></script><![endif]-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/skel.min.js}"></script>
    <script th:src="@{/js/skel-layers.min.js}"></script>
    <script th:src="@{/js/init.js}"></script>

    <link rel="stylesheet" th:href="@{/css/skel.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style-desktop.css}"/>
    <link rel="stylesheet" th:href="@{/css/style-wide.css}"/>


    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ie/v8.css}"><![endif]-->
</head>
<body class="left-sidebar">
<!-- Wrapper -->
<div id="wrapper">
    <div layout:fragment="content"></div>

    <div layout:include="common/sidebar :: sidebar"></div>
</div>

<div layout:fragment="script"></div>
</body>
</html>