<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
<form action="#" method="post">  <!-- //TODO ajouter l'assocation avec entity th:action="@{/}" th:object="${Article}" --> 
            <table>
                <tr>
                    <td>Name author:</td>
                    <td><input type="text" placeholder="Your name"/></td> <!-- th:field="*{nameAuthor}" -->
                    <td>Name author Error</td> <!-- th:if="${#fields.hasErrors('nameAuthor')}" th:errors="*{nameAuthor}" -->
                </tr>
                <tr>
                    <td>Title :</td>
                    <td><input type="text" placeholder="Title of article"/></td> <!-- th:field="*{titleArticle}"  -->
                    <td>Title article Error</td> <!-- th:if="${#fields.hasErrors('titleArticle')}" th:errors="*{titleArticle}" -->
                </tr>
                <tr>
                    <td>Content article :</td>
                    <td><textarea placeholder="Content of article"></textarea></td> <!-- th:field="*{contentArticle}" -->
                    <td>Content article Error</td>	<!-- th:if="${#fields.hasErrors('contentArticle')}" th:errors="*{contentArticle}" -->
                </tr>
				<tr>
                    <td>Key word :</td>
                    <td><input type="text" placeholder="List of key word for this article" /></td>
                    <td>Content article Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
</div>
</body>
</html>