<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

<div layout:fragment="content">
<form action="#" th:action="@{/}" method="post">  <!-- //TODO ajouter l'assocation avec entity th:object="${Article}" --> 
            <table>
                <tr>
                    <td>Name author:</td>
                    <td><input type="text" th:field="*{nameAuthor}" placeholder="Your name"/></td>
                    <td th:if="${#fields.hasErrors('nameAuthor')}" th:errors="*{nameAuthor}">Name author Error</td>
                </tr>
                <tr>
                    <td>Title :</td>
                    <td><textarea type="text" th:field="*{titleArticle}" placeholder="Title of article"/></td>
                    <td th:if="${#fields.hasErrors('titleArticle')}" th:errors="*{titleArticle}">Title article Error</td>
                </tr>
                <tr>
                    <td>Content article :</td>
                    <td><input type="text" th:field="*{contentArticle}" placeholder="Content of article"></textarea></td>
                    <td th:if="${#fields.hasErrors('contentArticle')}" th:errors="*{contentArticle}">Content article Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
</div>
</body>
</html>