<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body class="left-sidebar">

<div layout:fragment="content"> <!-- //TODO ajouter l'assocation avec entity -->
    <div id="content">
        <div class="inner">
            <article class="box post post-excerpt">
                <header>
                    <h2><a th:href="@{article(id=${article.id})}" th:text="${article.title}">Lorem ipsum dolor sit
                        amet</a></h2>

                    <p th:text="${article.author.username}">Feugiat interdum sed commodo ipsum consequat dolor
                        nullam metus</p>
                </header>
                <div class="info">
                    <span class="date"><span class="month"
                                             th:text="${article.time} ? ${#dates.format(article.time, 'MMM')}">Jul<span>y</span></span> <span
                            class="day" th:text="${article.time} ? ${#dates.format(article.time, 'dd')}">8</span><span
                            class="year">, 2014</span></span>
                    <ul class="stats">
                        <li><a href="#" class="icon fa-comment" th:text="${commentsListSize}"></a></li>
                        <li><a href="#" class="icon fa-heart">32</a></li>
                        <li><a href="#" class="icon fa-twitter">64</a></li>
                        <li><a href="#" class="icon fa-facebook">128</a></li>
                    </ul>
                </div>

                <p th:utext="${article.content}">
                    Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada
                    metus.
                    Nunc nulla velit, fermentum quis interdum quis, tate etiam commodo lorem ipsum dolor sit amet
                    dolore.
                    Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada
                    metus.
                    Nunc nulla velit, fermentum quis interdum quis, convallis eu sapien. Integer sed ipsum ante.
                </p>

                <hr/>
                <h3>Key words</h3>

                <div class="12u$">
                    <ul class="actions" id="keyWord">
                        <li th:text="${category.description}" th:each="category : ${article.categories}">Key Word 1</li>
                    </ul>
                </div>
                <hr/>

                <h3>List of comments</h3>
                <div th:each="comment : ${listComments}">
                <header>
                    <h5>
                        By
                        <span th:text="${comment.author.username}"></span>
                        at
                        <span th:text="${comment.time}"></span>
                    </h5>
                </header>
                <p th:text="${comment.content}">Striped is released for free under the <a href="http://html5up.net/license">Creative Commons
                    Attribution license</a> so feel free to use it for personal projects</p>
                <hr/>
                </div>

                <h3>Create a comment</h3>

                <form method="post" th:action="@{/article(id=${article.id})}">
                    <!-- //TODO ajouter l'assocation avec entity -->
                    <div class="row uniform">
                        <div class="12u$">
                            <textarea name="contentComment" id="contentComment" rows="3"
                                      placeholder="Content of this comment" th:field="*{comment.content}"></textarea>
                        </div>
                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Create comment" name="save"/></li>
                                <li><input type="reset" value="Reset" class="alt"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
</body>
</html>