<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <div id="content">
        <div class="inner">
            <article class="box post post-excerpt">

                <h2>User setting</h2>

                <form action="#" method="post">  <!-- //TODO ajouter l'assocation avec entity -->


                    <div class="row uniform">
                        <div class="12u$">
                            <label for="userNickName">User nickname :</label>
                            <input type="text" name="userNickName" id="userNickName" placeholder="Nickname of user"/>
                        </div>

                        <div class="12u$">
                            <label for="firstnameUser">Firstname :</label>
                            <input type="text" name="firstnameUser" id="firstnameUser" placeholder="Firstname  of user"/>
                        </div>

                        <div class="12u$">
                            <label for="lastnameuser">Lastname :</label>
                            <input type="text" name="lastnameuser" id="lastnameuser" placeholder="Lastname of user"/>
                        </div>

                        <div class="12u$">
                            <label for="mailUser">Mail :</label>
                            <input type="text" name="mailUser" id="mailUser" placeholder="Mail of user"/>
                        </div>
                        <div class="12u$">
                            <label for="userPassword">Password :</label>
                            <input type="password" name="userPassword" id="userPassword"
                                   placeholder="Password of user"/>
                        </div>
                        <div class="12u$">
                            <label for="userConformPassword">Confirm password :</label>
                            <input type="password" name="userConformPassword" id="userConformPassword"
                                   placeholder="Confirmation of password"/>
                        </div>

                        <h5>Social network setting</h5>

                        <div class="6u$ 12u$(4)">
                            <ul class="stats">
                                <li><a href="#" class="icon fa-facebook">Connect to Facebook</a></li>
                                <li><a href="#" class="icon fa-twitter">Connect to Twitter</a></li>
                            </ul>
                        </div>

                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Save user setting"/></li>
                            </ul>
                        </div>

                    </div>
                </form>

            </article>
        </div>
    </div>
</div>
</body>
</html>