<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<div layout:fragment="content">
    <div id="content">
        <div class="inner">
            <article class="box post post-excerpt">
                <div class="info">
                    <!--
                        Note: The date should be formatted exactly as it's shown below. In particular, the
                        "least significant" characters of the month should be encapsulated in a <span>
                        element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
                        Oh, and if you don't need a date for a particular page or post you can simply delete
                        the entire "date" element.

                    -->
                    <span class="date"><span class="month">Jul<span>y</span></span> <span class="day">15</span><span
                            class="year">, 2014</span></span>
                </div>

                <h2>User setting</h2>

                <form action="#" method="post">  <!-- //TODO ajouter l'assocation avec entity -->


                    <div class="row uniform">
                        <div class="12u$">
                            <label for="username">Username :</label>
                            <input type="text" name="username" id="username" placeholder="Username" th:value="${session.user.username}" disabled="true"/>
                        </div>

                        <div class="12u$">
                            <label for="firstname">Firstname :</label>
                            <input type="text" name="firstname" id="firstname" placeholder="Firstname" th:value="${session.user.firstname}"/>
                        </div>

                        <div class="12u$">
                            <label for="lastname">Lastname :</label>
                            <input type="text" name="lastname" id="lastname" placeholder="Lastname" th:value="${session.user.lastname}"/>
                        </div>

                        <div class="12u$">
                            <label for="mailUser">Mail :</label>
                            <input type="text" name="mailUser" id="mailUser" placeholder="Mail" th:value="${session.user.email}"/>
                        </div>
                        <div class="12u$">
                            <label for="userPassword">Password :</label>
                            <input type="password" name="userPassword" id="userPassword"
                                   placeholder="Password of user"/>
                        </div>
                        <div class="12u$">
                            <label for="userConformPassword">Confirm password :</label>
                            <input type="password" name="userConformPassword" id="userConformPassword"
                                   placeholder="Confirmation of password"/>
                        </div>

                        <h5>Social network setting</h5>

                        <div class="6u$ 12u$(4)">
                            <ul class="stats">
                                <li><a href="#" class="icon fa-facebook">Connect to Facebook</a></li>
                                <li><a href="#" class="icon fa-twitter">Connect to Twitter</a></li>
                            </ul>
                        </div>

                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Save user setting"/></li>
                            </ul>
                        </div>

                    </div>
                </form>

            </article>
        </div>
    </div>
</div>
</body>
</html>